
<footer class="p-4 bg-white mt-auto border-top border-1 border-secondary-subtle">
    <div class="container">
        <div class="row row-cols-4 align-items-stretch">
            <div class="col">
                <div class="h-100 d-flex flex-column justify-content-center">
                    <img src="/static/img/logo_reclames.svg" alt="logotipo" width="65%">
                </div>
            </div>
            <div class="col">
                <div class="h-100">
                    <nav class="h-100 d-flex flex-column justify-content-between gap-2">
                        <a href="/" class="nav-link">Home</a>
                        <a href="/sobre_nos" class="nav-link">Sobre Nós</a>
                        <a href="/sobre_o_es" class="nav-link">Sobre o ES</a>
                        <a href="/contato" class="nav-link">Contato</a>
                    </nav>
                </div>
            </div>
            <div class="col">
                <div class="h-100">
                    <nav class="h-100 d-flex flex-column justify-content-between gap-2">
                        <a href="/duvidas_frequentes" class="nav-link">Dúvidas Frequentes</a>
                        <a href="/politica_privacidade" class="nav-link">Política de Privacidade</a>
                        <a href="/termos_uso" class="nav-link">Termos de Uso</a>
                        <a href="/redes_sociais" class="nav-link">Redes Sociais</a>
                    </nav>
                </div>
            </div>
            <div class="col">
                <div class="h-100 d-flex flex-column justify-content-between gap-3">
                    <form action="/cadastrarnews" method="post">
                        <div class="text-start">
                            <label for="email" class="small">Assine nossa newsletter!</label>
                            <div class="input-group input-group-sm">
                                <style>
                                    .btn-primary.dark {
                                        --bs-btn-bg: #1078A8 !important;
                                        --bs-btn-border-color: #1078A8 !important;
                                        --bs-btn-hover-color: #fff;
                                        --bs-btn-hover-bg: #196588 !important;
                                        --bs-btn-hover-border-color: #196588 !important;
                                    }
                                </style>
                                <input type="email" class="form-control bg-secondary-subtle rounded-start-2"
                                    placeholder="Digite seu e-mail aqui" id="email" />
                                <button class="btn btn-primary dark" type="submit">
                                    Assinar
                                </button>
                            </div>
                        </div>
                    </form>
                    <div class="text-start small">
                        <a href="mailto:contato@reclames.com" class="nav-link">contato@reclames.com</a>
                        <a href="tel:+5528999786321" class="nav-link">+55 (28) 99978-6321</a>
                    </div>
                    <div class="d-flex gap-3 justify-content-start">
                        <a href="/" class="text-decoration-none text-dark">
                            <i class="bi bi-facebook"></i>
                        </a>
                        <a href="/" class="text-decoration-none text-dark">
                            <i class="bi bi-instagram"></i>
                        </a>
                        <a href="/" class="text-decoration-none text-dark">
                            <i class="bi bi-tiktok"></i>
                        </a>
                        <a href="/" class="text-decoration-none text-dark">
                            <i class="bi bi-twitter-x"></i>
                        </a>
                        <a href="/" class="text-decoration-none text-dark">
                            <i class="bi bi-youtube"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
