body{
    background: linear-gradient(to bottom, #00A6FF, #ffffff);
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    padding: 0;    
   
}

.container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 20px;
   padding: 20px;
}

.logo {
   width: 200px;
   height: auto;
   max-width: 50%;
}

.texto-azul {
   font-size: 36px;
   font-weight: bold;
   color: #4e8cff;
}

.texto-branco{
   font-size: 16px;
   color: white;
}



.contato-texto {
   max-width: 70%;
   margin-top: 20px;
   display: center; 
}

.card {
  
   box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
   transition: 0.3s;
   background-color: blue;
 }
 
 .card-image{
   height: 300px; 
   width: 60px;
}