{% extends "pages/base.html" %}
{% block subtitulo %}Criar conta morador{% endblock %}
{% block conteudo %}
{% from 'shared/pages/macros.html' import input, select, button %}

<body>
<div class="custom-container bg-light rounded shadow-sm p-4 mt-3 mb-5" style="max-width: 500px; margin: auto; padding: 20px;">
    <div class="mb-5">
    <div class="mascote" style="display: flex; justify-content: center; margin-bottom: 10px;">
        <img src="/static/img/reclamito.png" alt="Reclamito" style="width: 100px;">
    </div>

    <h2 style="text-align: center; font-weight: bold;">Vamos lá! Preencha seus dados pessoais</h2>
    <p class="info-text" style="text-align: center; color: grey; margin-bottom: 20px;">
        Essas informações são importantes para validarmos seu cadastro. <span class="required" style="color: red;">*</span> Campos obrigatórios
    </p>

    <form action="/post_cadastro_morador" method="post" style="margin-bottom: -5px;">
        {{ input('cpf', 'CPF',"000.000.000-00") }}
        <div class="form-group" style="margin-bottom: 15px;">
            <label for="cpf" class="required" style="color: red;" required>CPF</label>
            <input data-mask='cpf' type="text" id="cpf" name="cpf" class="form-control" placeholder="000.000.000-00">
        </div>

        <div class="form-group" style="margin-bottom: 15px;">
            <label for="nome" class="required" style="color: red;">Nome e Sobrenome</label>
            <input type="text" id="nome" name="nome" class="form-control" placeholder="Digite seu nome e seu sobrenome">
        </div>

        <div class="form-group" style="margin-bottom: 15px;">
            <label for="data_nascimento" class="required" style="color: red;">Data de Nascimento</label>
            <input type="date" id="data_nascimento" name="data_nascimento" class="form-control">
        </div>

        <div class="form-group form-check" style="margin-bottom: 15px;">
            <input type="checkbox" class="form-check-input" id="nomeSocialCheck">
            <label class="form-check-label" for="nomeSocialCheck">Quero inserir meu nome social e autorizo o ReclameES compartilhar essa informação</label>
        </div>

        <div class="gray-box" style="background-color: #f0f4f7; padding: 10px; border-radius: 5px; font-size: 0.9rem;">
            Nome social é o nome que pessoas transgêneros e travestis preferem ser chamadas, e possui a mesma proteção concedida ao nome de registro. É assegurado pelo Decreto 8727/16.
        </div>

        <div class="form-group mt-2" style="margin-bottom: 15px;">
            <label for="genero" class="required" style="color: red;">Com qual gênero você se identifica?</label>
            <select class="form-select" id="genero" name="genero">
                <option value="">Selecione seu gênero</option>
                <option value="Feminino">Feminino</option>
                <option value="Masculino">Masculino</option>
                <option value="Outro">Outro</option>
            </select>
        </div>

        <div class="form-row row mt-3" style="margin-bottom: 15px;">
            <div class="col-md-6">
                <label for="endereco_cidade" class="required" style="color: red;">Cidade</label>
                <select class="form-select" id="endereco_cidade" name="endereco_cidade">
                    <option value="">Selecione sua cidade</option>
                    <option value="Alegre">Alegre</option>
                    <option value="Anchieta">Anchieta</option>
                    <option value="Apiacá">Apiacá</option>
                    <option value="Aracruz">Aracruz</option>
                    <option value="Baixo Guandu">Baixo Guandu</option>
                    <option value="Barra de São Francisco">Barra de São Francisco</option>
                    <option value="Boa Esperança">Boa Esperança</option>
                    <option value="Bom Jesus do Norte">Bom Jesus do Norte</option>
                    <option value="Brejetuba">Brejetuba</option>
                    <option value="Cachoeiro de Itapemirim">Cachoeiro de Itapemirim</option>
                    <option value="Cariacica">Cariacica</option>
                    <option value="Castelo">Castelo</option>
                    <option value="Colatina">Colatina</option>
                    <option value="Conceição da Barra">Conceição da Barra</option>
                    <option value="Conceição do Castelo">Conceição do Castelo</option>
                    <option value="Divino de São Lourenço">Divino de São Lourenço</option>
                    <option value="Domingos Martins">Domingos Martins</option>
                    <option value="Ecoporanga">Ecoporanga</option>
                    <option value="Fundão">Fundão</option>
                    <option value="Governador Lindenberg">Governador Lindenberg</option>
                    <option value="Guaçuí">Guaçuí</option>
                    <option value="Guarapari">Guarapari</option>
                    <option value="IBiporã">IBiporã</option>
                    <option value="Itaguaçu">Itaguaçu</option>
                    <option value="Itapemirim">Itapemirim</option>
                    <option value="Jerônimo Monteiro">Jerônimo Monteiro</option>
                    <option value="João Neiva">João Neiva</option>
                    <option value="Laranja da Terra">Laranja da Terra</option>
                    <option value="Linhares">Linhares</option>
                    <option value="Mantenópolis">Mantenópolis</option>
                    <option value="Marataízes">Marataízes</option>
                    <option value="Montanha">Montanha</option>
                    <option value="Mucurici">Mucurici</option>
                    <option value="Nova Venécia">Nova Venécia</option>
                    <option value="Piúma">Piúma</option>
                    <option value="Pontões">Pontões</option>
                    <option value="Presidente Kennedy">Presidente Kennedy</option>
                    <option value="Rio Bananal">Rio Bananal</option>
                    <option value="Rio Novo do Sul">Rio Novo do Sul</option>
                    <option value="Santa Teresa">Santa Teresa</option>
                    <option value="São Domingos do Norte">São Domingos do Norte</option>
                    <option value="São Gabriel da Palha">São Gabriel da Palha</option>
                    <option value="São Mateus">São Mateus</option>
                    <option value="São Roque do Canaã">São Roque do Canaã</option>
                    <option value="Serra">Serra</option>
                    <option value="Sooretama">Sooretama</option>
                    <option value="Vargem Alta">Vargem Alta</option>
                    <option value="Vila Velha">Vila Velha</option>
                    <option value="Vitória">Vitória</option>
                </select>
            </div>
            <div class="col-md-6">
                <label for="endereco_bairro" class="required" style="color: red;">Bairro</label>
                <input type="text" id="endereco_bairro" name="endereco_bairro" class="form-control" placeholder="Digite seu bairro">
            </div>
        </div>

        <div class="form-row row mt-3" style="margin-bottom: 15px;">
            <div class="col-md-4">
                <label for="endereco_cep" class="required" style="color: red;">CEP</label>
                <input data-mask='cep' type="text" class="form-control" id="endereco_cep" name="endereco_cep" placeholder="Digite o CEP">
            </div>
            <div class="col-md-4">
                <label for="endereco_numero" class="required" style="color: red;">Número</label>
                <input type="text" class="form-control" id="endereco_numero" name="endereco_numero" placeholder="Número">
            </div>
            <div class="col-md-4">
                <label for="endereco_complemento">Complemento</label>
                <input type="text" class="form-control" id="endereco_complemento" name="endereco_complemento" placeholder="Complemento">
            </div>
        </div>

        <div class="form-group mt-3" style="margin-bottom: 15px;">
            <label for="endereco_logradouro" class="required" style="color: red;">Logradouro</label>
            <input type="text" class="form-control" id="endereco_logradouro" name="endereco_logradouro" placeholder="Digite o logradouro">
        </div>

        <div class="form-group mt-3" style="margin-bottom: 15px;">
            <label for="email" class="required" style="color: red;">Email</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Digite seu email">
        </div>

        <div class="form-group mt-3" style="margin-bottom: 15px;">
            <label for="senha" class="required" style="color: red;">Senha</label>
            <input type="password" class="form-control" id="senha" name="senha" placeholder="Digite sua senha">
        </div>

        <div class="form-group mt-3" style="margin-bottom: 15px;">
            <label for="confsenha" class="required" style="color: red;">Confirme sua senha</label>
            <input type="password" class="form-control" id="confsenha" name="confsenha" placeholder="Digite sua senha novamente">
        </div>

        <div class="form-group mt-4" style="margin-top: 15px;">
            {{ button('Cadastrar') }}
        </div>
    </form>
</div>
</div>
<script src="/static/js/mascararCampos.js"></script>

{% endblock %}
