{% extends "pages/base.html" %}
{% block subtitulo %}Criar conta patrocinador{% endblock %}
{% block conteudo %}


<div class="custom-container bg-light rounded shadow-sm p-4 mt-3 mb-5" style="max-width: 500px; margin: auto; padding: 20px;">
    <div class="mascot" style="display: flex; justify-content: center; margin-bottom: 10px;">
        <img src="/static/img/reclamito.png" alt="Mascote" style="width: 100px;">
    </div>
    <div class="mb-5">
    <h2 style="text-align: center; font-weight: bold;">Vamos lá! Preencha seus dados pessoais</h2>
    <p class="info-text" style="text-align: center; color: grey; margin-bottom: 20px;">
        Essas informações são importantes para validarmos seu cadastro. <span class="required" style="color: red;">*</span> Campos obrigatórios
    </p>

    <form action="/post_cadastro_patrocinador" method="post">
        <div class="form-group" style="margin-bottom: 15px;">
            <label for="cnpj" class="required" style="color: red;">CNPJ</label>
            <input data-mask='cnpj' type="text" name="cnpj" id="cnpj" class="form-control" placeholder="__/__/____/____-__">
        </div>
        <div class="form-group" style="margin-bottom: 15px;">
            <label for="nome" class="required" style="color: red;">Nome fantasia</label>
            <input type="text" name="nome" id="nome" class="form-control" placeholder="Digite o nome fantasia da sua empresa">
        </div>
        <div class="form-group" style="margin-bottom: 15px;">
            <label for="data_nascimento" class="required" style="color: red;">Data de Fundação</label>
            <input type="date" name="data_nascimento" id="data_nascimento" class="form-control">
        </div>
        
        <div class="form-row row mt-3" style="margin-bottom: 15px;">
            <div class="col-md-6">
                <label for="endereco_cidade" class="required" style="color: red;">Cidade</label>
                <select name="endereco_cidade" class="form-select" id="endereco_cidade">
                    <option>Selecione sua cidade</option>
                    <option>Alegre</option>
                    <option>Anchieta</option>
                    <option>Apiacá</option>
                    <option>Aracruz</option>
                    <option>Baixo Guandu</option>
                    <option>Barra de São Francisco</option>
                    <option>Boa Esperança</option>
                    <option>Bom Jesus do Norte</option>
                    <option>Brejetuba</option>
                    <option>Cariacica</option>
                    <option>Castelo</option>
                    <option>Colatina</option>
                    <option>Conceição da Barra</option>
                    <option>Conceição do Castelo</option>
                    <option>Divino de São Lourenço</option>
                    <option>Domingos Martins</option>
                    <option>Ecoporanga</option>
                    <option>Fundão</option>
                    <option>Governador Lindenberg</option>
                    <option>Guaçuí</option>
                    <option>Guarapari</option>
                    <option>IBiporã</option>
                    <option>Itaguaçu</option>
                    <option>Itapemirim</option>
                    <option>Jerônimo Monteiro</option>
                    <option>João Neiva</option>
                    <option>Laranja da Terra</option>
                    <option>Linhares</option>
                    <option>Mantenópolis</option>
                    <option>Marataízes</option>
                    <option>Montanha</option>
                    <option>Mucurici</option>
                    <option>Nova Venécia</option>
                    <option>Piúma</option>
                    <option>Pontões</option>
                    <option>Presidente Kennedy</option>
                    <option>Rio Bananal</option>
                    <option>Rio Novo do Sul</option>
                    <option>Santa Teresa</option>
                    <option>São Domingos do Norte</option>
                    <option>São Gabriel da Palha</option>
                    <option>São Mateus</option>
                    <option>São Roque do Canaã</option>
                    <option>Serra</option>
                    <option>Sooretama</option>
                    <option>Vargem Alta</option>
                    <option>Vila Velha</option>
                    <option>Vitória</option>
                </select>
            </div>
            <div class="col-md-6">
                <label for="endereco_bairro" class="required" style="color: red;">Bairro</label>
                <input type="text" name="endereco_bairro" id="endereco_bairro" class="form-control" placeholder="Escreva aqui o bairro">
            </div>
        </div>

        <div class="form-row row mt-3" style="margin-bottom: 15px;">
            <div class="col-md-4">
                <label for="endereco_cep" class="required" style="color: red;">CEP</label>
                <input data-mask='cep' type="text" name="endereco_cep" id="endereco_cep" class="form-control" placeholder="Digite o CEP">
            </div>
            <div class="col-md-4">
                <label for="endereco_numero" class="required" style="color: red;">Número</label>
                <input type="text" name="endereco_numero" id="endereco_numero" class="form-control" placeholder="Número">
            </div>
            <div class="col-md-4">
                <label for="endereco_complemento">Complemento</label>
                <input type="text" name="endereco_complemento" id="endereco_complemento" class="form-control" placeholder="Complemento">
            </div>
        </div>

        <div class="form-group mt-3" style="margin-bottom: 15px;">
            <label for="endereco_logradouro" class="required" style="color: red;">Logradouro</label>
            <input type="text" name="endereco_logradouro" id="endereco_logradouro" class="form-control" placeholder="Digite o logradouro">
        </div>

        <div class="form-group mt-3" style="margin-bottom: 15px;">
            <label for="email" class="required" style="color: red;">Email</label>
            <input type="email" name="email" id="email" class="form-control" placeholder="Digite seu email">
        </div>

        <div class="form-group mt-3" style="margin-bottom: 15px;">
            <label for="senha" class="required" style="color: red;">Senha</label>
            <input type="password" name="senha" id="senha" class="form-control" placeholder="Digite sua senha">
        </div>

        <div class="form-group mt-3" style="margin-bottom: 15px;">
            <label for="confsenha" class="required" style="color: red;">Confirme sua senha</label>
            <input type="password" name="confsenha" id="confsenha" class="form-control" placeholder="Digite sua senha outra vez">
        </div>

        <div class="form-group mt-4" style="margin-top: 15px;">
            <button type="submit" class="btn btn-primary w-100">Enviar</button>
        </div>
    </form>
</div>
</div>
<script src="/static/js/mascararCampos.js"></script>


{% endblock %}
