{% extends "pages/base.html" %}
{% block subtitulo %}Criar conta{% endblock %}
{% block conteudo %}

   
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .custom-container {
            max-width: 500px;
            margin: auto;
            padding: 20px;
        }

        .mascot {
            display: flex;
            justify-content: center;
            margin-bottom: 10px;
        }

        .mascot img {
            width: 100px;
        }

        h2 {
            text-align: center;
            font-weight: bold;
        }

        .info-text {
            text-align: center;
            color: grey;
            margin-bottom: 20px;
        }

        .required {
            color: red;
        }

        .form-group {
            margin-bottom: 15px;
        }

        .small-text {
            font-size: 0.9rem;
            color: #6c757d;
        }

        .gray-box {
            background-color: #f0f4f7;
            padding: 10px;
            border-radius: 5px;
            font-size: 0.9rem;
        }

    </style>

<body>
<div class="custom-container bg-light rounded shadow-sm p-4 mt-5">
    <div class="mascot">
        <img src="/static/img/reclamito.png" alt="Mascote">
    </div>

   
    <h2>Vamos lá! Preencha seus dados pessoais</h2>
    <p class="info-text">Essas informações são importantes para validarmos seu cadastro. <span class="required">*</span> Campos obrigatórios</p>


    <form>
        <div class="form-group">
            <label for="cnpj" class="required">CNPJ</label>
            <input type="text" id="cnpj" class="form-control" placeholder="__/__/____/____-__">
        </div>
        <div class="form-group">
            <label for="nome" class="required">Nome fantasia</label>
            <input type="text" id="nome" class="form-control" placeholder="Digite seu nome e seu sobrenome">
        </div>
        <div class="form-group">
            <label for="nascimento" class="required">Data de Nascimento</label>
            <input type="date" id="nascimento" class="form-control">
        </div>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="nomeSocialCheck">
            <label class="form-check-label" for="nomeSocialCheck">Quero inserir meu nome social e autorizo o ReclameES compartilhar essa informação</label>
        </div>

        <div class="gray-box">
            Nome social é o nome que pessoas transgêneros e travestis preferem ser chamadas, e possui a mesma proteção concedida ao nome de registro. É assegurado pelo Decreto 8727/16.
        </div>
        <div class="form-group mt-3">
            <label for="genero" class="required">Com qual gênero você se identifica?</label>
            <select class="form-select" id="genero">
                <option>Selecione seu gênero</option>
                <option>Feminino</option>
                <option>Masculino</option>
                <option>Outro</option>
            </select>
        </div>
        <div class="form-row row mt-3">
            <div class="col-md-6">
                <label for="cidade" class="required">Cidade</label>
                <select class="form-select" id="cidade">
                    <option>Selecione sua cidade</option>
                    
                </select>
            </div>
            <div class="col-md-6">
                <label for="bairro" class="required">Bairro</label>
                <select class="form-select" id="bairro">
                    <option>Selecione seu bairro</option>
                    
                </select>
            </div>
        </div>

        <div class="form-row row mt-3">
            <div class="col-md-4">
                <label for="cep" class="required">CEP</label>
                <input type="text" class="form-control" id="cep" placeholder="Digite o CEP">
            </div>
            <div class="col-md-4">
                <label for="numero" class="required">Número</label>
                <input type="text" class="form-control" id="numero" placeholder="Número">
            </div>
            <div class="col-md-4">
                <label for="complemento">Complemento</label>
                <input type="text" class="form-control" id="complemento" placeholder="Complemento">
            </div>
        </div>

        <div class="form-group mt-3">
            <label for="logradouro" class="required">Logradouro</label>
            <input type="text" class="form-control" id="logradouro" placeholder="Digite o logradouro da sua empresa">
        </div>

        
        <div class="form-group mt-3">
            <label for="email" class="required">Email</label>
            <input type="email" class="form-control" id="email" placeholder="Digite seu email">
        </div>


        
        <div class="form-group mt-3">
            <label for="senha" class="required">Senha</label>
            <input type="senha" class="form-control" id="senha" placeholder="Digite sua senha">
        </div>

        <div class="form-group mt-3">
            <label for="senha" class="required">Confirme sua senha</label>
            <input type="senha" class="form-control" id="senha" placeholder="Digite sua senha outra vez">
        </div>

        
        <div class="form-group mt-4">
            <button type="submit" class="btn btn-primary w-100">Enviar</button>
        </div>
    </form>
</div>

</body>
</html>

{% endblock %}
