{% extends "pages/base.html" %}
{% block subtitulo %}Criar conta morador{% endblock %}
{% block conteudo %}
{% from 'shared/macros.html' import input, select, button, input_col, input_col2, select_form_group, select_col %}

<body>
<div class="custom-container bg-light rounded shadow-sm p-4 mt-3 mb-5" style="max-width: 500px; margin: auto; padding: 20px;">
    <div class="mb-5">
    <div class="mascote" style="display: flex; justify-content: center; margin-bottom: 10px;">
        <img src="/static/img/reclamito.png" alt="Reclamito" style="width: 100px;">
    </div>

    <h2 style="text-align: center; font-weight: bold;">Vamos lá! Preencha seus dados pessoais</h2>
    <p class="info-text" style="text-align: center; color: grey; margin-bottom: 20px;">
        Essas informações são importantes para validarmos seu cadastro. <span class="required" style="color: red;">*</span> Campos obrigatórios
    </p>

    <form action="/post_cadastro_morador" method="post" style="margin-bottom: -5px;">
        {{ input('cpf', 'CPF', type='text', placeholder='000.000.000-00', mask='cpf', attributes='required') }}
        {{ input('nome', 'Nome e Sobrenome', type='text', placeholder='Digite seu nome e seu sobrenome') }}
        {{ input('data_nascimento', 'Data de Nascimento', type='date') }}
        <div class="form-group form-check" style="margin-bottom: 15px;">
            <input type="checkbox" class="form-check-input" id="nomeSocialCheck">
            <label class="form-check-label" for="nomeSocialCheck">Quero inserir meu nome social e autorizo o ReclameES compartilhar essa informação</label>
        </div>

        <div class="gray-box" style="background-color: #f0f4f7; padding: 10px; border-radius: 5px; font-size: 0.9rem;">
            Nome social é o nome que pessoas transgêneros e travestis preferem ser chamadas, e possui a mesma proteção concedida ao nome de registro. É assegurado pelo Decreto 8727/16.
        </div>

        {{ select_form_group('genero', 'Com qual gênero você se identifica?', {
            'Feminino': 'Feminino',
            'Masculino': 'Masculino',
            'Outro': 'Outro'
        }) }}

        <div class="form-row row mt-3" style="margin-bottom: 15px;">
            {{ select_col(
                'endereco_cidade',
                'Cidade',
                {
                    'Alegre': 'Alegre',
                    'Anchieta': 'Anchieta',
                    'Apiacá': 'Apiacá',
                    'Aracruz': 'Aracruz',
                    'Baixo Guandu': 'Baixo Guandu',
                    'Barra de São Francisco': 'Barra de São Francisco',
                    'Boa Esperança': 'Boa Esperança',
                    'Bom Jesus do Norte': 'Bom Jesus do Norte',
                    'Brejetuba': 'Brejetuba',
                    'Cachoeiro de Itapemirim': 'Cachoeiro de Itapemirim',
                    'Cariacica': 'Cariacica',
                    'Castelo': 'Castelo',
                    'Colatina': 'Colatina',
                    'Conceição da Barra': 'Conceição da Barra',
                    'Conceição do Castelo': 'Conceição do Castelo',
                    'Divino de São Lourenço': 'Divino de São Lourenço',
                    'Domingos Martins': 'Domingos Martins',
                    'Ecoporanga': 'Ecoporanga',
                    'Fundão': 'Fundão',
                    'Governador Lindenberg': 'Governador Lindenberg',
                    'Guaçuí': 'Guaçuí',
                    'Guarapari': 'Guarapari',
                    'IBiporã': 'IBiporã',
                    'Itaguaçu': 'Itaguaçu',
                    'Itapemirim': 'Itapemirim',
                    'Jerônimo Monteiro': 'Jerônimo Monteiro',
                    'João Neiva': 'João Neiva',
                    'Laranja da Terra': 'Laranja da Terra',
                    'Linhares': 'Linhares',
                    'Mantenópolis': 'Mantenópolis',
                    'Marataízes': 'Marataízes',
                    'Montanha': 'Montanha',
                    'Mucurici': 'Mucurici',
                    'Nova Venécia': 'Nova Venécia',
                    'Piúma': 'Piúma',
                    'Pontões': 'Pontões',
                    'Presidente Kennedy': 'Presidente Kennedy',
                    'Rio Bananal': 'Rio Bananal',
                    'Rio Novo do Sul': 'Rio Novo do Sul',
                    'Santa Teresa': 'Santa Teresa',
                    'São Domingos do Norte': 'São Domingos do Norte',
                    'São Gabriel da Palha': 'São Gabriel da Palha',
                    'São Mateus': 'São Mateus',
                    'São Roque do Canaã': 'São Roque do Canaã',
                    'Serra': 'Serra',
                    'Sooretama': 'Sooretama',
                    'Vargem Alta': 'Vargem Alta',
                    'Vila Velha': 'Vila Velha',
                    'Vitória': 'Vitória'
                }
            ) }}
            
            {{ input_col('endereco_bairro', 'Bairro', type='text', placeholder='Digite seu bairro') }}
        </div>

        <div class="form-row row mt-3" style="margin-bottom: 15px;">
            {{ input_col2('endereco_cep', 'CEP', type='text', placeholder='Digite o CEP', mask='cep') }}
            {{ input_col2('endereco_numero', 'Número', type='text', placeholder='Número') }}
            {{ input_col2('endereco_complemento', 'Complemento', type='text', placeholder='Complemento') }} 
        </div>
        {{ input('endereco_logradouro', 'Logradouro', type='text', placeholder='Digite o logradouro') }}
        {{ input('email', 'Email', type='email', placeholder='Digite seu email') }}
        {{ input('senha', 'Senha', type='password', placeholder='Digite sua senha') }}
        {{ input('confsenha', 'Confirme sua senha', type='password', placeholder='Digite sua senha novamente') }}
        <div class="form-group mt-4" style="margin-top: 15px;">
            {{ button('Cadastrar') }}
        </div>
    </form>
</div>
</div>
<script src="/static/js/mascararCampos.js"></script>

{% endblock %}
