{% extends "pages/base_fluid.html" %}
{% block subtitulo %}Dúvidas Frequentes{% endblock %}
{% block conteudo %}

<div class="flex-fill">
    <img src="/static/img/ajudar.png" alt="logotipo" class="img-fluid w-100">
</div>
<h3 class="text-center texto-azul"><br>Como podemos ajudá-lo?<br></h3>
<hr>
<div class="container ">
    <div class="row d-flex justify-content-center align-items-stretch gap-5 ">

        <div class="card col-4 text-center">
            <i class="bi bi-person-circle mt-3 icon-grande">
            </i>
            <h3>Sou <p class="text-center texto-azul">Morador</p>
            </h3>
            <p>Veja as principais dúvidas frequentes dos moradores.</p>
            <a href="/duvidas_frequentes_morador" class="btn btn-primary mb-3">Ajuda para o morador</a>
        </div>

        <div class="card col-4 text-center">
            <i class="bi bi-building mt-3 icon-grande"></i>

            <h3>Sou <p class="text-center texto-azul">Patrocinador</p>
            </h3>
            <p>Veja as principais dúvidas frequentes dos patrocinadores.</p>
            <button type="button" class="btn btn-primary mb-3">Ajuda para o Patrocinadordor</button>
          

        </div>
    </div>

</div>

{% endblock %}