{% extends "pages/base_fluid.html" %}
{% block subtitulo %}Login{% endblock %}
{% block conteudo %}
<style>
    .icon-rosa {
      color: #FF97B6;
      font-size: 10rem; /* Ajuste o valor conforme necessário */
    }
    .icon-azul{
        color: #1078A8;
        font-size: 10rem;
    }
    .custom-card {
          width: 300px; /* Ajuste a largura conforme necessário */
          height: 400px; /* Ajuste a altura conforme necessário */
        }
  </style>
<main>
    <div class="container">
        <h3 class="text-center texto-azul"><br>Escolha o seu perfil:<br></h3>
        <hr>
    </div>
    <br>
    <div class="container ">
        <div class="row d-flex justify-content-center align-items-stretch gap-5 ">
            <div class="card col-4 text-center">
                <i class="bi bi-person-circle mt-3 icon-rosa bi-3x"></i>
                </i>
                <h3 class="texto-rosa2">Morador</h3>
                <p>Quero reclamar e acompanhar minhas reclamações.</p>
                <a href="/login_morador" class="nav-link"><button type="button" class="btn mb-3" style="background-color: #FF97B6; border: none; color: white">Acessar área do Morador</button></a>
            </div>
            <div class="card col-4 text-center">
                <i class="bi bi-building mt-3 icon-azul"></i>
                <h3 class="texto-azul2">Patrocinador</h3>
                <p>Quero reclamar e acompanhar minhas reclamações.</p>
                <a href="/login_patrocinador" class="nav-link"><button type="button" class="btn mb-3"  style="background-color: #1078A8; border: none; color: white">Acessar área do Patrocinador</button></a>
            </div>
        </div>
    </div>
</main>
{% endblock %}