{% extends "pages/base.html" %}
{% block subtitulo %}Login{% endblock %}
{% block conteudo %}
<main>
    <div class="container">
        <h3 class="text-center texto-azul"><br>Escolha o seu perfil:<br></h3>
        <hr>
    </div>
    <div class="container ">
        <div class="row d-flex justify-content-center align-items-stretch gap-5 ">

            <div class="card col-4 text-center">
                <i class="bi bi-person-circle mt-3">

                </i>
                <h3>Morador</h3>
                <p>Quero reclamar e acompanhar minhas reclamações.</p>
                <button type="button" class="btn btn-secondary mb-3">Acessar área do Morador</button>


            </div>

            <div class="card col-4 text-center">
                <i class="bi bi-building mt-3"></i>

                <h3>Patrocinador</h3>
                <p>Quero reclamar e acompanhar minhas reclamações.</p>
                <button type="button" class="btn btn-secondary mb-3">Acessar área do Patrocinadordor</button>

            
            </div>
        </div>
    </div>
</main>

{% endblock %}