{% extends "pages/base.html" %}
{% block subtitulo %}Login{% endblock %}
{% block conteudo %}
<main>
    <h3 class="text-center texto-azul"><br>Escolha o seu perfil:<br></h3>
    <hr>
    <div class= "card">
    <div class="col-4 d-flex flex-column justify-content-center pt-5">
        <img src="/static/img/logo.png" alt="" class="w-200 h-200">
    </div>
    <div class="col-8 ">
        <h3 class="mt-5">Sobre Nós</h3>
        <hr>
        <p><font size="+2">O ReclamES é uma ferramenta eficaz que <b>propicia a divulgação e solução de problemas relacionados a infraestrutura das cidades do Estado do Espírito Santo.</b>
            <br><br>
            Além disso é uma aplicação web que objetiva trazer <b>visibilidade para o Estado</b> e facilitar a gestão do relacionamento entre o Governo e a população.
            <br><br>
            À vista disso, esta aplicação, além de servir como fonte de informação e pesquisa para qualquer cidadão que usufruir da mesma, também representa uma grande <b>oportunidade de melhora para o Estado do Espírito Santo em diversos aspectos.</b></font>
        </p>
    </div>
</main>

{% endblock %}