{% extends "pages/base.html" %}
{% block subtitulo %}Principal{% endblock %}
{% block conteudo %}
<h1>Página Principal</h1>
<hr>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti atque eos animi eligendi! Ut fugiat eaque laudantium dolores distinctio iste repellat soluta 
    saepe maxime praesentium accusantium pariatur harum, cumque rem tempora sint molestiae, minus ipsa placeat, doloribus expedita ea incidunt Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti deserunt voluptatem animi vel numquam consequatur vero ad quod maxime a quis, 
    expedita rem exercitationem nobis dolore lorem temporibus nisi eum hic? Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga exercitationem quasi, ab harum commodi a aut autem impedit distinctio placeat repudiandae molestiae necessitatibus pariatur quas 
    minus? Cum consectetur vitae sequi..</p>
{% endblock %} 