{% extends "pages/base_fluid.html" %}
{% block subtitulo %}Principal{% endblock %}
{% block conteudo %}
<style>
    body {
        background-image: url('/static/img/penha2.jpg');
        background-size: cover;
        background-position: center;
    }
</style>

<div class="row flex-column flex-fill justify-content-center">
    <div class="col-6 bg-light bg-opacity-75 flex-fill">
        <div class="d-flex flex-column justify-content-center align-items-center">
            <img src="/static/img/logo.png" alt="Logo" class="w-200">
        </div>
    </div>
    <div class="col-12 bg-light bg-opacity-75 p-4">
        <div class="d-flex flex-column justify-content-center align-items-center">
            <a href="/instrucoes_mapa" class="btn btn-primary btn-lg">Escolha sua cidade</a>
        </div>
    </div>
</div>

{% endblock %}