{% extends "pages/base_fluid.html" %}
{% block subtitulo %}Dúvidas Frequentes{% endblock %}
{% block conteudo %}

<div class="container">
<div class="flex-fill">
    <img src="/static/img/sugestao.png" alt="logotipo" class="img-fluid w-100">
</div><br>

<div>
<form class="container">
    <div class="card" style="background-color: white; border-color:black">
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <div class="card-body d-flex">
                        <div class="me-3">
                            <img src="/static/img/Morador2.png" alt="Foto de perfil" class="rounded-circle" style="width: 70px; height: 70px;">
                        </div>
                        <div class="flex-grow-1">
                            <div class="d-flex justify-content-between">
                                <h6 class="mb-1">Marta da Silva</h6>
                                <span class="badge bg-success">Em destaque</span>
                            </div>
                            <p class="mb-2">
                                Poderia usar os locais abertos e abandonados para fazer um espaço de cinema ao ar livre, seria uma dinâmica diferente e atrativa para os cachoeirenses.
                            </p>
                            <div class="d-flex align-items-center">
                                <button class="btn btn-outline-secondary btn-sm me-2">
                                    <i class="bi bi-hand-thumbs-up"></i> 568
                                </button>
                                <button class="btn btn-outline-secondary btn-sm me-2">
                                    <i class="bi bi-chat"></i> 11
                                </button>
                                <button class="btn btn-outline-danger btn-sm">
                                    <i class="bi bi-exclamation-triangle"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    </div>    
</form>
</div><br>

<div>
<form class="container">
    <div class="card" style="background-color: white; border-color:black">
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <div class="card-body d-flex">
                        <div class="me-3">
                            <img src="/static/img/Morador2.png" alt="Foto de perfil" class="rounded-circle" style="width: 70px; height: 70px;">
                        </div>
                        <div class="flex-grow-1">
                            <div class="d-flex justify-content-between">
                                <h6 class="mb-1">Marta da Silva</h6>
                                <span class="badge bg-success">Em destaque</span>
                            </div>
                            <p class="mb-2">
                                Seria íntegro se nos brinquedos das pracinhas dos bairros tivessem alguns adaptados para crianças deficientes...
                            </p>
                            <div class="d-flex align-items-center">
                                <button class="btn btn-outline-secondary btn-sm me-2">
                                    <i class="bi bi-hand-thumbs-up"></i> 568
                                </button>
                                <button class="btn btn-outline-secondary btn-sm me-2">
                                    <i class="bi bi-chat"></i> 11
                                </button>
                                <button class="btn btn-outline-danger btn-sm">
                                    <i class="bi bi-exclamation-triangle"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    </div>    
</form>
</div><br>

<div>
<form class="container">
    <div class="card" style="background-color: white; border-color:black">
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <div class="card-body d-flex">
                        <div class="me-3">
                            <img src="/static/img/Morador2.png" alt="Foto de perfil" class="rounded-circle" style="width: 70px; height: 70px;">
                        </div>
                        <div class="flex-grow-1">
                            <div class="d-flex justify-content-between">
                                <h6 class="mb-1">Marta da Silva</h6>
                                <span class="badge bg-success">Em destaque</span>
                            </div>
                            <p class="mb-2">
                                No bairro Arariguaba poderia investir em uma quadra poliesportiva, visto que os jovens do bairro só tem uma pracinha e se  quiserem jogar numa quadra tem que ir para outro bairro.
                            </p>
                            <div class="d-flex align-items-center">
                                <button class="btn btn-outline-secondary btn-sm me-2">
                                    <i class="bi bi-hand-thumbs-up"></i> 568
                                </button>
                                <button class="btn btn-outline-secondary btn-sm me-2">
                                    <i class="bi bi-chat"></i> 11
                                </button>
                                <button class="btn btn-outline-danger btn-sm">
                                    <i class="bi bi-exclamation-triangle"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    </div>
</form>
</div><br><br>

<div class="d-flex justify-content-end">
    <button class="btn btn-primary">
        <i class="bi bi-plus-circle"></i> Sugerir projeto
    </button>
</div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script><br>
</div>


{% endblock %}

<a class="btn btn-outline-secondary btn-sm me-2" data-bs-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="false" aria-controls="collapseExample"></a>