{% extends "pages/base_fluid.html" %}
{% block subtitulo %}login do administrador{% endblock %}
{% block conteudo %}
<style>
  .btn-outline-white:hover {
    background-color: white;
    color: black; 
    border-color: white; 
}

  .btn-outline-white {
    color: white;
    border-color: white;
    background-color: transparent;
    transition: background-color 0.3s, color 0.3s;
}

.bg-custom2 {
    background-color: #0ce76f; /* Defina a cor verde desejada */
  }
</style>

<div class="container">
<div class="row flex-fill justify-content-center">
  <div class="col-6 bg-light bg-opacity-50 flex-fill">
    <div class="d-flex flex-column justify-content-center align-items-center">
      <form>
        <h2 class="text-left"><br>Entre na sua conta do ReclamES<br></h2>
        <h5 class="text-left"><br>Insira seus dados para acessar a área do administrador</h5>
        <br>
        <div class="row flex-column flex-fill justify-content-center">
          <div class="d-flex flex-column justify-content-center align-items-center">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email:</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              <div id="emailHelp" class="form-text"></div>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Senha:</label>
              <input type="password" class="form-control" id="exampleInputPassword1">
              <a href="/esqueci_senha">
                <div id="emailHelp" class="form-text">Esqueci minha Senha</div>
              </a>
            </div>
            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Lembre de mim</label>
            </div>
            <a href="/perfil_administrador" class="btn mb-3 btn-lg" style="background-color: #0ce76f; border: none; color: white; text-decoration: none; ">Entrar</a>
          </div>
        </div>      
      </form>
    </div>
  </div>
  <div class="col-6 bg-custom2 bg-opacity-100 flex-fill d-flex flex-column align-items-center justify-content-center">
    <img src="static/img/reclamito.png"alt="Logo" class="w-200 h-50">
  </div>
</div>
</div>
{% endblock %}

