{% extends "pages/base.html" %}
{% block subtitulo %}Principal{% endblock %}
{% block conteudo %}
<br>
<br>
<h3 class="text-center texto-azul" >Política de Privacidade</h3>
<br>
<br>
<div class="row">
    
    </div>
    <div class="text-center">
        <div class="card privacidade mt5">
            <div class="card privacidade2 mt-5">
                <p> Nós, ReclamES, somos uma empresa que oferece diversos canais de comunicação 
                    com o objetivo de melhorar o relacionamento e gestão entre a população e o Governo, de forma transparente e colaborativa.
                    <br>
                    <br>
                    
                    Desenvolvemos esse documento em atenção à privacidade e proteção dos dados de nossos usuários (“Você”). Quando Você 
                    acessar ou interagir com o nosso site e serviços, podemos guardar algumas informações (“Dados” ou “Dados Pessoais”) sobre 
                    Você. Elaboramos esta Política de Privacidade (“Política”) com o intuito de esclarecer como seus Dados Pessoais podem ser coletados, usados, compartilhados e armazenados por Nós.
                    
                    
                </p>
            </div>
        </div>

        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsa, ex eum maiores aperiam temporibus incidunt fuga hic velit? Autem dicta illo atque velit corrupti blanditiis, eius nisi perferendis sint debitis.</p>

{% endblock %}