{% extends "pages/base_fluid.html" %}
{% block subtitulo %}Principal{% endblock %}
{% block conteudo %}
<br>
<br>
<h3 class="text-center texto-azul" >Política de Privacidade</h3>
<br>
<br>
<div class="class container">
    <div class="row">
    
    </div>
    
    <div class="text-left">
        <div class="card privacidade mt5">
            <div class="card privacidade2 mt-5">
                <p> <br>
                    Nós, ReclamES, somos uma empresa que oferece diversos canais de comunicação 
                    com o objetivo de melhorar o relacionamento e gestão entre a população e o Governo, de forma transparente e colaborativa.
                    <br>
                    <br> 
                    Desenvolvemos esse documento em atenção à privacidade e proteção dos dados de nossos usuários (“Você”). Quando Você 
                    acessar ou interagir com o nosso site e serviços, podemos guardar algumas informações (“Dados” ou “Dados Pessoais”) sobre 
                    Você. Elaboramos esta Política de Privacidade (“Política”) com o intuito de esclarecer como seus Dados Pessoais podem ser coletados, usados, compartilhados e armazenados por Nós.
                    
                    
                </p>
            </div>
        </div>
        <br>
        <p> <font size="-1">A aceitação desta Política será feita quando Você acessar ou interagir com o site ou, quando aplicável, Você concordar de forma afirmativa com o uso dos seus Dados Pessoais para cada uma das finalidades por Nós aqui descritas. Dessa forma, Você estará ciente e em total acordo com o modo como utilizaremos as suas informações e os seus Dados Pessoais. Caso não concorde com esta Política, por favor, não continue utilizando nosso site. Pedimos apenas que nos explique o motivo de discordância para que possamos melhorar nosso site. 
            Você pode entrar em contato conosco pelo e-mail:<br>
             <b>reclamescontato@gmail.com</b>
             <br></font>

</div>             
{% endblock %}