{% extends "pages/base.html" %}
{% block subtitulo %}Principal{% endblock %}
{% block conteudo %}

<h3 class="text-center texto-azul" >Política de Privacidade</h3>
<div class="row">
    
    </div>
    <div class="text-center">
        <p>Nós, ReclamES, somos uma empresa que oferece diversos canais de comunicação
            com o objetivo de melhorar o relacionamento e gestão entre a população e o Governo, de forma transparente e colaborativa.
            
            Desenvolvemos esse documento em atenção à privacidade e proteção dos dados de nossos usuários("Você"). Quando Você
            acessar ou interagir com o nosso site e serviços, podemos guardar algumas informações("Dados" ou "Dados Pessoais") sobre
            Você. Elaboramos esta politica de Privacidade com o intuito de esclarecer como seus dados pessoais podem ser
            coletados, usados, compartilhados e armazenados por Nós.
        </p>

{% endblock %}