{% extends "pages/base.html" %}
{% block subtitulo %}Principal{% endblock %}
{% block conteudo %}

<h3 class="text-center texto-azul" >Venha conhecer a gente!</h3>
<div class="row">
    <div class="col-4 d-flex flex-column justify-content-center pt-5">
        <img src="/static/img/logo_reclames.svg" alt="" class="w-100">
    </div>
    <div class="col-8 ">
        <h3 class="mt-5">Sobre Nós</h3>
        <hr>
        <p>O ReclamES é uma ferramenta eficaz que propicia a divulgação e solução de problemas relacionados à infraestrutura das cidades do Estado do Espírito Santo.
            Além disso é uma aplicação web que objetiva trazer visibilidade para o Estado e facilitar a gestão do relacionamento entre o Governo e a população.
            À vista disso, esta aplicação é uma referência em informação e pesquisa para qualquer cidadão e, por ser uma ferramenta oficial, representa uma grande conquista para 
            o desenvolvimento do Espírito Santo em diversas áreas.
        </p>

{% endblock %}