{% extends "pages/base.html" %}
{% block subtitulo %}Principal{% endblock %}
{% block conteudo %}

<div class="clearfix">
    <img src="/static/img/mosaico.jpg" class="col-md-6 float-md-end mb-3 ms-md-3" alt="...">
  
    <p><b><font size="+2">ESPÍRITO SANTO</font></b>
        <br>
        <br>
        <br>
        <font size="+2">O Espírito Santo é um dos 27 estados brasileiros 
        e se <b>localiza na Região Sudeste do país</b>, dispondo
        de características do bioma Mata Atlântica. Possui 
        faixa litorânea de 400km, e a maritimidade exerce 
        grande influência no seu clima, que é predominantemente 
        tropical úmido.
        <br>
        <br>
        Tendo <b>Vitória como sua capital</b>, o estado possui 
        população de 4.064.052 habitantes,segundo os dados do 
        IBGE,2020. <b>A economia do Espírito Santo é liderada pelo 
        setor insdustrial</b>, com destaque para a indústria extrativa,e, 
        possui grande <b>destaque na produção de café</b>. Conta também 
        com um aeroporto internacional e outros cinco regionais.
        <br>
        <br>
        As manifestações culturais refletem a <b>diversa composição 
        populacional</b>, com influências indígenas, africanas e europeias,
         que são observadas desde a culinária típica do estado até
        as festas folclóricas que se espalham por todo o território. 
        Algumas das expressões populares são a <b>capoeira e o jongo, 
        a moqueca e a torta capixaba</b>, dois dos pratos típicos do Espírito Santo.
    </p>
</font>
   
  </div>


{% endblock %}